<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>

        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }

        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 160px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }
    </style>

</head>
<body>

<div id="app">

    <el-container style="height: 655px ">
        <el-header>Welcome to 用户页</el-header>
        <el-container>
            <!--侧边栏-->
            <el-aside width="200px" style="background-color: rgba(238, 241, 246,0)">
                <el-menu :default-openeds="['1', '3']">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-message"></i>首页</template>
                        <el-menu-item-group>
                            <el-menu-item index="1-2" @click="toHomePage">首页</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-menu"></i>消息</template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1" @click="toHomePage">查看消息</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-setting"></i>我的</template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1" @click="showUser">个人信息</el-menu-item>
                            <el-menu-item index="3-2" @click="showShopCart">购物车</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item index="3-3" @click="showOrder">订单</el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>


            <el-main>

                <!--个人信息表格-->
                <template>
                    <el-table
                            :data="userInformation"
                            style="width: 100%"
                            :row-class-name="tableRowClassName">
                        <el-table-column
                                prop="username"
                                label="用户名"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="nickname"
                                label="昵称"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="address"
                                label="收货地址"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="phoneNumber"
                                label="手机号码"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="realName"
                                label="收货名称"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="100">

                            <template><!--打开修改信息小窗口-->
                                <el-button type="text" @click="updateInformationWindow=true" size="small">修改信息
                                </el-button>
                            </template>

                        </el-table-column>
                    </el-table>
                </template>

                <!--修改密码按钮-->
                <template><!--打开修改密码小窗口-->
                    <el-button type="text" @click="updatePasswordWindow=true" size="big">修改密码
                    </el-button>
                </template>

                <!--修改支付密码按钮-->
                <template><!--打开支付修改密码小窗口-->
                    <el-button type="text" @click="updatePayPasswordWindow=true" size="big">修改支付密码
                    </el-button>
                </template>

            </el-main>
        </el-container>
    </el-container>

    <!--更新用户信息窗口-->
    <el-dialog
            title="修改信息"
            :visible.sync="updateInformationWindow"
            width="30%"
    >
        <!--表单数据-->
        <el-form ref="form" :model="updateInformation" label-width="80px">


            <el-form-item label="昵称">
                <el-input
                        v-model="updateInformation.nickname">
                </el-input>
            </el-form-item>

            <el-form-item label="收货地址">
                <el-input
                        v-model="updateInformation.address">
                </el-input>
            </el-form-item>
            </el-form-item>
            <el-form-item label="手机号码">
                <el-input
                        v-model="updateInformation.phoneNumber">
                </el-input>
            </el-form-item>
            <el-form-item label="收货姓名">
                <el-input
                        v-model="updateInformation.realName">
                </el-input>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="updateUserInformation">立即修改</el-button>
                <el-button @click="updateInformationWindow = false">取消</el-button>
            </el-form-item>
        </el-form>

        <!--  </span>-->
    </el-dialog>

    <!--修改密码窗口-->
    <el-dialog
            title="修改密码"
            :visible.sync="updatePasswordWindow"
            width="30%"
    >
        <!--表单数据-->
        <el-form ref="form" :model="updatePasswordForm" label-width="80px">


            <el-form-item label="新密码">
                <el-input
                        v-model="updatePasswordForm.newPassword" show-password>
                </el-input>
            </el-form-item>

            <el-form-item label="确认密码">
                <el-input
                        v-model="updatePasswordForm.checkNewPassword" show-password>
                </el-input>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="updatePasswordNow">立即修改</el-button>
                <el-button @click="updatePasswordWindow = false">取消</el-button>
            </el-form-item>
        </el-form>

        <!--  </span>-->
    </el-dialog>

    <!--修改支付密码窗口-->
    <el-dialog
            title="修改支付密码"
            :visible.sync="updatePayPasswordWindow"
            width="30%"
    >
        <!--表单数据-->
        <el-form ref="form" :model="updatePayPasswordForm" label-width="80px">

            <el-form-item label="原密码">
                <el-input
                        v-model="updatePayPasswordForm.payPassword" show-password>
                </el-input>
            </el-form-item>

            <el-form-item label="新密码">
                <el-input
                        v-model="updatePayPasswordForm.newPayPassword" show-password>
                </el-input>
            </el-form-item>

            <el-form-item label="确认密码">
                <el-input
                        v-model="updatePayPasswordForm.checkNewPayPassword" show-password>
                </el-input>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="updatePayPasswordNow">立即修改</el-button>
                <el-button @click="updatePayPasswordWindow = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


</div>

<script src="js/axios.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">


<script>
    new Vue({
        el: "#app",
        mounted() {
            // alert(this.userInformation.username);
            this.queryUserInformation();
            console.log(this.userInformation)
        },
        data() {
            return {

                //展示用户信息表格的 data
                userInformation: {
                    userId: '',
                    username: '',
                    nickname: '',
                    address: '',
                    phoneNumber: '',
                    realName: '',
                    pictureId: '',
                    roleId: ''
                },

                //修改信息小窗口 的data
                updateInformation: {
                    userId: '',
                    username: '',
                    nickname: '',
                    address: '',
                    phoneNumber: '',
                    realName: '',
                    pictureId: '',
                },

                //修改用户密码的表单
                updatePasswordForm: {
                    newPassword: '',
                    checkNewPassword: '',
                },

                //修改支付用户密码的表单
                updatePayPasswordForm: {
                    payPassword: '',
                    newPayPassword: '',
                    checkNewPayPassword: '',
                },

                //更新用户信息小窗口
                updateInformationWindow: false,

                //修改密码小窗口
                updatePasswordWindow: false,

                //修改支付密码小窗口
                updatePayPasswordWindow: false,

            }
        },
        methods: {

            //修改密码 连接后台
            updatePasswordNow() {

                //判断输入的密码是否为空
                if (this.updatePasswordForm.newPassword === '') {
                    this.$message({
                        message: '密码不能为空哦',
                        type: 'warning'
                    });
                    return;
                }

                //判断两个密码是否一致
                if (this.updatePasswordForm.newPassword !== this.updatePasswordForm.checkNewPassword) {
                    //不一致 提示消息

                    this.$message({
                        message: '请确认两次输入的密码一致!',
                        type: 'warning'
                    });
                    return;
                }

                //提交到后台
                var userId = localStorage.getItem('userId');
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingWebsite/userServlet/updateUserData",
                    data: {
                        userId: userId,
                        password: _this.updatePasswordForm.newPassword
                    }

                }).then(function (resp) {
                    // console.log(resp.data);
                    if (resp.data.code === 1) {

                        //修改成功 提示信息
                        _this.$message({
                            message: '修改成功!',
                            type: 'success'
                        });

                        //关闭窗口
                        _this.updatePasswordWindow = false;


                    } else {
                        console.log(resp.data);

                    }


                })


            },

            //修改支付密码 连接后台
            updatePayPasswordNow() {

                //判断输入的原密码是否为空
                if (this.updatePayPasswordForm.payPassword === '') {
                    this.$message({
                        message: '请输入原密码',
                        type: 'warning'
                    });
                    return;
                }


                //判断输入的新支付密码是否为空
                if (this.updatePayPasswordForm.newPayPassword === '') {
                    this.$message({
                        message: '新密码不能为空哦',
                        type: 'warning'
                    });
                    return;
                }

                //判断两个支付密码是否一致
                if (this.updatePayPasswordForm.newPayPassword !== this.updatePayPasswordForm.checkNewPayPassword) {
                    //不一致 提示消息

                    this.$message({
                        message: '请确认两次输入的密码一致!',
                        type: 'warning'
                    });
                    return;
                }

                //校对原支付密码
                var userId = localStorage.getItem('userId');
                var _this = this;

                //记录原密码是否正确的
                var ok = 1;
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingWebsite/userServlet/checkPayPassword",
                    data: {
                        userId: userId,
                        //传入原支付密码
                        payPassword: _this.updatePayPasswordForm.payPassword
                    }

                }).then(function (resp) {
                    // console.log(resp.data);
                    if (resp.data.code === 1) {
                        //输入原密码正确
                    } else {

                        //输入的原支付密码错误
                        console.log(resp.data);

                        _this.$message({
                            message: '原' + resp.data.msg,
                            type: 'warning'
                        });

                        //标记为核对密码错误
                        cheakpp = 0;
                    }


                })

                //核实原密码是否正确
                if (cheakpp === 0) {
                    return;
                }

                //将新密码提交到后台
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingWebsite/userServlet/updateUserData",
                    data: {
                        userId: userId,
                        payPassword: _this.updatePayPasswordForm.newPayPassword
                    }

                }).then(function (resp) {
                    // console.log(resp.data);
                    if (resp.data.code === 1) {

                        //修改成功 提示信息
                        _this.$message({
                            message: '修改成功!',
                            type: 'success'
                        });

                        //关闭窗口
                        _this.updatePasswordWindow = false;


                    } else {
                        console.log(resp.data);

                        _this.$message({
                            message: '修改失败,可能是原支付密码输入错误',
                            type: 'warning'
                        });
                    }


                })


            },

            //查询用户information
            queryUserInformation() {
                //已经登录 查询用户信息
                var userId = localStorage.getItem('userId');
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingWebsite/userServlet/showUserInformation",
                    data: {
                        userId: userId
                    }

                }).then(function (resp) {
                    // console.log(resp.data);
                    if (resp.data.code === 1) {
                        console.log(resp.data.data);


                        //保存数据到前端
                        _this.userInformation = resp.data.data;
                        console.log(_this.userInformation);

                        //添加成功 提示信息
                        _this.$message({
                            message: '查询个人信息成功!',
                            type: 'success'
                        });


                    } else {
                        console.log(resp.data);

                    }


                })
            },
            //更新user信息
            updateUserInformation() {

                //给update表的数据设置userId
                this.updateInformation.userId = localStorage.getItem('userId');

                console.log(this.updateInformation)
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/ShoppingWebsite/userServlet/updateUserData",
                    data: _this.updateInformation

                }).then(function (resp) {
                    // console.log(resp.data);
                    if (resp.data.code === 1) {
                        console.log(resp.data)

                        //修改成功 提示信息
                        _this.$message({
                            message: '修改成功!',
                            type: 'success'
                        });

                        //关闭窗口
                        _this.updateInformationWindow = false;

                        //重新查询一次信息
                        _this.queryUserInformation();

                    } else {
                        console.log(resp.data);
                        _this.$message({
                            message: resp.data.msg,
                            type: 'warning'
                        });
                    }


                })
            },
            //展示购物车
            showShopCart() {
                //判断是否登录
                if (!this.isLogin()) {
                    this.$message({
                        message: '您还未登录哦 请您先登录,1秒钟之后跳转...',
                        type: 'warning'
                        // type: 'error'
                    });

                    setTimeout(function () {
                        location.href = "http://localhost:8080/ShoppingWebsite/login.html"
                    }, 1000)
                    return;
                }

                //已经登录 查询购物车
                var userId = localStorage.getItem('userId');
            },
            showOrder() {
                //判断是否登录
                if (!this.isLogin()) {
                    this.$message({
                        message: '您还未登录哦 请您先登录,1秒钟之后跳转...',
                        type: 'warning'
                        // type: 'error'
                    });

                    setTimeout(function () {
                        location.href = "http://localhost:8080/ShoppingWebsite/login.html"
                    }, 1000)
                    return;
                }

                //已经登录 查询用户信息
                var userId = localStorage.getItem('userId');
            },

            //跳转页面到商品主页
            toHomePage() {
                location.href = "http://localhost:8080/ShoppingWebsite/homePage.html"
            }
        }
    })


</script>

</body>
</html>